# node
node_modules
npm-debug.log
package-lock.json

# yarn
yarn.lock
yarn-error.log

# webstorm
.idea

# src
src
test
config
example
bin
gulpfile.js
.babelrc
.eslintignore
.eslintrc.yml
.gitignore
CHANGELOG.md
CHANGELOG-zhCN.md